# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
.env*
